@font-face {
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/TTCommons-Regular.woff2') format('woff2'),
    url('../assets/fonts/TTCommons-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/TTCommons-Medium.woff2') format('woff2'),
    url('../assets/fonts/TTCommons-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/TTCommons-Bold.woff2') format('woff2'),
    url('../assets/fonts/TTCommons-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/TTCommons-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/TTCommons-ExtraBold.ttf') format('ttf');
}