.footer {
  margin-top: auto;
  background-color: var(--color-jane-purple);

  &__content {
    padding-top: 140px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 143px;

    .banner {
      display: flex;
      flex-direction: column;
      gap: 56px;

      &__label {
        font-size: 16px;
      }

      &__title {
        font-size: 112px;
        font-weight: 400;
        line-height: 112px;
      }
    }

    .for-question {
      display: flex;
      flex-direction: column;
      gap: 36px;
      max-width: 384px;
      width: 100%;

      &__item {
        display: flex;
        flex-direction: column;
        max-width: 152px;
        line-height: 19px;
      }

      &__phone {
        display: block;
        margin-top: 12px;
        margin-bottom: 4px;
      }

      &__address {
        display: block;
        margin-top: 12px;
        margin-bottom: 8px;
      }

      &__link-locate {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        background-color: var(--color-chaos-black);
        border-radius: 50%;
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
  }

  &__links {
    &-list {
      display: flex;
      align-items: center;
      gap: 32px;
      margin-bottom: 30px;

      list-style: none;

      &:last-child {
        margin-left: auto;
      }
    }

    &-item {
      line-height: 19px;
      border-bottom: 1px solid var(--color-chaos-black);
    }
  }

  &__link-go {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 358px;
    height: 179px;
    margin: 0 auto;
    padding-bottom: 25px;

    clip-path: circle(62.9% at 50% 100%);
    background-color: var(--color-chaos-black);

    font-size: 32px;
    color: var(--color-white);
    line-height: 32px;
  }
}

@media (max-width: 1024px) {
  .footer {
    .for-question {
      max-width: none;
      width: auto;
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__links-list:last-child {
      margin-left: 0;
    }

    &__link-go {
      order: 3;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__top {
      flex-direction: column;
      gap: 20px;
    }
  }
}